In [2]:
#1. Write a python program to store all the programming languages known to you using Set.
set1={"C","C++","Python","Php","Javascript","Google script"}
print(type(set1))
print(set1)

<class 'set'>
{'Javascript', 'Php', 'C++', 'C', 'Google script', 'Python'}

In [3]:
#2. Write a python program to store your own information {name, age, gender, so on..}
set2={"Vivek Kumar", 26, "Male"}
print(set2)

{26, 'Vivek Kumar', 'Male'}

In [5]:
#3. Write a python script to get the data type of a Set.
set3=set()
print(type(set3))
print(set3)

<class 'set'>
set()

In [8]:
#4. Write a Python script to find if “Python” is present in the set  thisset = {"Java","Python", "Django"}
set4={"Java","Python","Django"}
if "Python" in set4:
    print("Python is present in the set.")
else:
    print("Python is not present in the set.")

Python is present in the set.

In [12]:
#5. Write a python program to add items from another set to the current set. thisset ={"Java", "Python", "SQL"}
# secondset= {"C", "Cpp", "NoSQL"}
set51={"Java","Python","Django"}
set52={"C","Cpp","Nosql"}
set51.add("Hello")
set51.update(set52)
print(set51)

{'Django', 'Nosql', 'Hello', 'C', 'Java', 'Cpp', 'Python'}

In [15]:
#6. Write a python program to add elements of list to a set thisset = {"Python", "Django", "JavaScript"}
# mylist = ["Java", "C"]
set61={"Python","Django","JavaScript"}
l61=["Java","C"]
# set61.add(l61)
set61.update(l61)
print(set61)

{'C', 'JavaScript', 'Python', 'Django', 'Java'}

In [25]:
#7. Write a python program to remove last item of the given set thisset = {"Python", "Django", "JavaScript", “SQL”}.
set71={"Python", "Django", "JavaScript","SQL"}
set71.pop()
#set71.discard("SQL")
print(set71)

{'Django', 'JavaScript', 'Python'}

In [29]:
#8. Write a python program to delete the set completely.
set81={"Hello","Delete","it"}
set81.clear()
print(set81)
del set81

set()

In [34]:
#9. Write a python program to loop through the set and print values. thisset = {"Python", "Django", "JavaScript", “SQL”}.
set91={"Python", "Django", "JavaScript","SQL"}
set92={i for i in set91}
print(set92)

{'SQL', 'Django', 'JavaScript', 'Python'}

In [32]:
#10. Write a python program to find the maximum and minimum value in a set.
set101={"Python", "Django", "JavaScript","SQL"}
var1=max(set101)
print(var1)
var2=min(set101)
print(var2)

SQL
Django