In [ ]:
#1. Write a python script to store multiple items in a single variable ( Items are “Java”,“Python”,  “SQL”,  “C” ) using tuple.
t11="Java","Python","SQL","C"
type(t11)

In [ ]:
#2. Write a python program to store only one item using tuple.
t21=(10,)
type(t21)

In [ ]:
#3. Write a python program to reverse the tuple.
t31=10,20,"Vivek","30"
t32=t31[::-1]
print(t32)

In [ ]:
#4. Write a python program to Swap two tuples in Python.
t41="Java","Python","SQL","C"
t42=10,20,"Vivek","30"
temp=t41
t41=t42
t42=temp
print(t41,t42,sep="\n")

In [10]:
#5. Write a python program to check if all items in the tuple are the same.
t51=(1,1,1,"2")
flag=0
for i in t51:
    if i==t51[0]:
        flag=1
        continue
    else:
        flag=0
        print("Tuple t51 does not have the same elements.")
        break
if flag==1:
    print("Tuple t51 have the same elements.")

Tuple t51 does not have the same elements.

In [11]:
#6. Write a python program to divide the tuple into four variables, tuple1=(100, 200, 300, 400)
t61=(100,200,300,400)
var1,var2,var3,var4=t61
print(var1,var2,var3,var4)

100 200 300 400

In [19]:
#7. Write a python program to copy elements 4 and 5 from the following tuple  into a new tuple. tuple1=(1,2,3,4,5,6)
t71=(1,2,3,4,5,6)
t72=(t71[3],t71[4])
# var1=t71[4]
# var2=t71[5]
# t73=(var1,var2)
# print(t73)
print(t72)

(4, 5)

In [13]:
#8. Write a python program to Sort a tuple of tuples by the second item.
# tuple1 = (('a', 21),('b', 37),('c', 11), ('d',29))
t81=(('a',21),('b', 37),('c', 11), ('d',29))
t82=sorted(t81)
print(t82)

[('a', 21), ('b', 37), ('c', 11), ('d', 29)]

In [14]:
#9. Write a python program to print the value 20 from given nested tuple
# tuple1 = ("Python", [10, 20, 30], (2, 4, 16))
t91=("Python", [10, 20, 30], (2, 4, 16))
print(t91[1][1])

20

In [18]:
#10. Write a python program to change the first item (22) of a list within the following tuple
# to 222. tuple1 = (11, [22, 33], 44, 55).
t101=(11, [22, 33], 44, 55)
t101[1][0]=222
print(t101)

(11, [222, 33], 44, 55)